body {
  font-family: 'Montserrat', sans-serif;
}

.hamburger-menu {
  display: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 72px;
  padding: 0 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding: 28px 0 27px;
  height: 72px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__button {
    height: 36px;
    margin-top: 19px;
    padding: 6px 33px 6px;
    border: 2px solid black;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    color: black;
  }
  &__button:hover {
    background-color: black;
    color: white;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 30px 0 26px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.menu__item {
  a {
    margin: 0 24px;
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
  }
}

main {
  padding: 0 72px;
  margin-bottom: 101px;
}

.main-section {
  margin: 0 auto;
  max-height: 55vw;
  background: url("../img/first-dance-i.jpg") no-repeat center;
  background-size: cover;

  &__intro {
    max-width: calc(33rem - 4.5rem);
    height: 100%;
    padding-right: 4.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    h1 {
      font-size: 4.5rem;
      font-weight: 600;
    }

    h4 {
      margin-top: 16px;
      font-size: 1.5rem;
      font-weight: 500;
    }

    p {
      width: 24rem;
      margin-top: 40px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

a.button {
  width: 83px;
  height: 16px;
  display: inline-block;
  box-sizing: content-box;
  margin-top: 40px;
  padding: 11px 40px 11px;
  border: 2px solid #FF699F;
  color: #FF699F;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
}
a.button:hover {
  background-color: #FF699F;
  color: white;
}

.our-services, .our-offers, .coaches {
  margin-top: 100px;
  position: relative;
  .heading {
    font-size: 36px;
    font-weight: 600;
  }
  .description {
    width: 80%;
    margin-top: 24px;
    margin-bottom: 48px;
    line-height: 1.5;
  }

  &__container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }
  &__item {
    width: 32%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    h2 {
      margin: 40px 0 24px;
      font-size: 24px;
      font-weight: 600;
    }
    a {
      padding-left: 40px;
      padding-top: 8px;
      font-size: 16px;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.offer__items {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    width: 25%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.4;
  }

  i {
    margin-bottom: 14px;
  }
}

.coaches__slider {
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 30px rgba(207, 207, 207, 0.25);
  :first-child {
    margin-right: 16px;
  }
}

.coaches__item {
  width: 50%;
  display: flex;
  padding: 0;
  flex-direction: row;
  &_content {
    padding: 43px 0 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 1;

    h2 {
      margin: 8px 0;
      font-size: 24px;
      font-weight: 600;
    }

    h3 {
      margin: 8px 0;
      font-size: 16px;
      font-weight: 600;
    }

    .profession {
      margin: 8px 0;
    }

    :nth-child(2) p {
      padding: 16px 0;
      color: #717171;

      span {
        color: black;
      }
    }
  }
}
.slider-counter {
  margin: 0 20px;
  position: absolute;
  font-size: 1rem;
  font-weight: 100;
  color: #000;
  left: 50%;
  transform: translate(-50%);
  bottom: 1%;
  z-index: 10;
}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
}
/* Конкретный слайдер */
.coaches__slider .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 28px;
  border: none;
}
/* Стрелка влево */
.coaches__slider .slick-arrow.slick-prev {
  left: calc(50% - 60px);
  background: url("../icons/prev-arrow.svg") 0 0 no-repeat;
}
  /* Стрелка вправо */
.coaches__slider .slick-arrow.slick-next {
  left: calc(50% + 60px);
  background: url("../icons/next-arrow.svg") 0 0  no-repeat;
}

/* Слайд */
.slick-slide {}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка не активная */
.coaches__slider .slick-arrow.slick-disabled {
  opacity: .3;
}

footer {
  max-width: 1440px;
  height: 88px;
  padding: 0 72px;
  line-height: 88px;
  background: #1F1F1F;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
