body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.hamburger-menu {
  display: none;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 72px;
}

header {
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  padding: 28px 0 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: inline-table;
  width: fit-content;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
}

a.button-black {
  margin-top: 19px;
  padding: 6px 33px 6px;
  border: 2px solid black;
  color: black;
  transition: 0.5s ease-in-out;

  &:hover {
    background-color: black;
    color: white;
  }
}

a.button-red {
  margin-top: 40px;
  padding: 11px 40px 11px;
  border: 2px solid #FF699F;
  color: #FF699F;
  transition: .5s ease-in-out;

  &:hover {
    background-color: #FF699F;
    color: white;
  }
}

a.button-red-circle {
  display: none;
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #ff699f;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 30px 0 26px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.menu__item {
  a {
    margin: 0 24px;
    text-decoration: none;
    color: black;
    text-align: center;
  }

  a:hover {
    text-decoration: underline;
  }
}

.top-section {
  width: 100%;
  height: 653px;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  &__image img {
    height: fit-content;
    object-fit: cover;
    object-position: 100% center;
  }

  &__intro {
    width: 35.5%;
    padding: 73px 77px 80px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;

    h1 {
      font-size: 72px;
      font-weight: 600;
    }

    h4 {
      margin: 16px 0 40px;
      font-size: 24px;
      font-weight: 500;
    }
  }

}

.section {
  position: relative;
  margin-top: 100px;

  &__title {
    font-size: 36px;
    font-weight: 600;
  }

  &__description {
    max-width: 668px;
    margin-top: 24px;
    margin-bottom: 48px;
    line-height: 1.5;
  }
}

.our-services {
  display: flex;
  justify-content: space-between;
  background-color: rgba(207, 207, 207, 0.25);
  box-shadow: 0 2px 30px rgba(207, 207, 207, 0.25);

  &__items {
    height: 640px;
    margin: 12px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: #fff;

    img {
      border-radius: 2px;
    }

    h2 {
      margin: 40px 0 24px;
      padding-left: 40px;
      font-size: 24px;
      font-weight: 600;
    }

    a {
      padding-left: 40px;
      padding-top: 8px;
      font-size: 16px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.offers {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    width: 25%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    line-height: 1.4;
    text-align: center;
    transition: 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.2, 1.2);
    }

    i {
      margin-bottom: 14px;
    }
  }
}

.slider {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 30px rgba(207, 207, 207, 0.25);

  &__item {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: row;
  }
}

.content {
  padding: 43px 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 1;

  :first-child {
    h2 {
      margin-top: 8px;
      font-size: 24px;
      font-weight: 600;
    }

    h3 {
      margin-top: 8px;
      font-size: 16px;
      font-weight: 600;
    }

    p {
      margin: 8px 0;
    }
  }

  :nth-child(2) {
    p {
      padding-top: 16px;
      color: #717171;
    }

    span {
      color: black;
    }
  }
}

.slider-counter {
  bottom: -45px;
  position: absolute;
  color: #000;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.slider .slick-arrow {
  position: absolute;
  bottom: -50px;
  z-index: 10;
  font-size: 0;
  width: 40px;
  height: 28px;
  border: none;
}

.slider .slick-arrow.slick-prev {
  left: calc(50% - 80px);
  background: url("../icons/prev-arrow.svg") 0 0 no-repeat;
}

.slider .slick-arrow.slick-next {
  left: calc(50% + 40px);
  background: url("../icons/next-arrow.svg") 0 0 no-repeat;
}

.slider .slick-arrow.slick-disabled {
  opacity: .3;
}

.slick-dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;

  .slick-active button {
    background-color: transparent;
    border: 1px solid #ff699f;
  }

  button {
    margin: 0 3px;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    width: 7px;
    height: 7px;
    background-color: #ff699f;
    border: none;
    border-radius: 50%;
  }
}

footer {
  max-width: 1440px;
  height: 88px;
  padding: 0 72px;
  margin: 100px auto 0;
  line-height: 88px;
  background: #1F1F1F;
  color: #ffffff;
}

.footer-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
