@import "vars";
/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1280px) {
  .wrapper, footer {
    padding: 0 36px;
  }
  main {
    .top-section {
      height: 600px;

      &__image img {
        height: 100%;
        object-fit: cover;
      }

      &__intro {
        padding: 0 20px;

        h1 {
          font-size: 3em;
        }

        h4 {
          font-size: 1em;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
  .our-services__items {
    h2 {
      font-size: 18px;
      margin: 18px 0 16px;
      padding-left: 10px;
    }

    a {
      padding-left: 10px;
      font-size: 14px;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    padding: 0 20px;
  }
  .menu__item {
    a {
      font-size: 14px;
      margin: 0 12px;
    }
  }
  main {
    .top-section {
      height: 480px;

      &__image img {
        height: 100%;
        object-fit: cover;
      }

      &__intro {
        padding: 0 10px;

        h1 {
          font-size: 2.5em;
        }
      }
    }
  }
;


  .section {
    margin-top: 56px;
  }
  .content {
    padding: 43px 17px;
    font-size: 12px;

    .button-red {
      padding: 11px 22px;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header {
    .main-menu {
      a {
        font-size: 12px;
      }
    }

    a.button-black {
      display: none;
    }
  }
  main {
    padding: 0;

    .button-red {
      display: none;
    }

    .button-red-circle {
      display: block;
    }

    .top-section {
      height: auto;
      display: block;

      &__intro {
        width: 70%;
        padding: 0 -72px;
      }

      &__image {
        height: 450px;
      }
    }
  }

  .slider__item {
    .content {
      padding: 8px;
      font-size: 12px;
    }
  }
  .slick-dots {
    display: block;
  }
}

@media only screen and (max-width: 650px) {

  .offers__item {
    width: 33.33%;
  }

  .slider-counter {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .wrapper {
    padding: 0;
  }
  header, .section, footer {
    padding: 0 10px;
  }
  header {
    background-color: white;
    height: 57px;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .logo {
    width: fit-content;
  }
  .main-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
    background-color: red;
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: red;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: red;
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
    width: 100%;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;

    > span, > span::before, > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: #000;
      transition-duration: .25s;
    }
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px 24px;
    list-style: none;
    background-color: #fff;
    border-bottom: 4px solid #FF699F;
    box-shadow: 1px 0 6px rgba(0, 0, 0, .2);

    &::after {
      content: 'Menu';
      color: #ff699f;
      opacity: .1;
      width: 0;
      height: 0;
      line-height: 1;
      position: absolute;
      right: -80px;
      top: -15px;
      font-size: 250px;
      font-weight: 900;
      letter-spacing: 15px;
      transform: rotate(90deg);
    }

    h1 {
      font-size: 36px;
      font-weight: 600;
      padding-bottom: 48px;
    }
  }
  .menu__item {
    display: block;
    padding-bottom: 40px;
    text-decoration: none;
    transition-duration: .25s;

    a {
      margin: 0;
      font-size: 24px;
      font-weight: 600;
    }
  }

  .main-menu .button {
    display: inline-block;
    border: 2px solid #ff699f;
    color: #ff699f;
  }
  .main-section {
    max-height: 300px;
  }
  main {
    padding: 0;

    .top-section__image {
      height: 300px;
    }
  }

  .offers__item {
    width: 50%;
  }
}
